:root {
  /* Шрифты */
  --main-font: 'Inter-Variable', sans-serif;
  --accent-font: 'PressStart2P', fantasy;
  
  /* Веса шрифтов */
  --text-weight: 400;
  --title-weight: 700;
  
  /* Цвета */
  --bg-color: #fff;
  --accent-color: #000;
  --button-text-color: #fff;
  --button-text-color-hover: #000;
  --heart-contour: #000;
  --heart-fill: #ff0000;
  --heart-sparks: #ff0000;
  --label-stroke: #fff;
  --contour-color: #000000;
  --animation-fill-color: #ff0000;
  
  /* Размеры */
  --content-width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --header-padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  
  /* Градиенты */
  --bg-image: 
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}

@media (width <= 375px) {
  :root {
    --content-width: 100%;
  }
}